PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=lil-poker
COOKIE_SECRET=some-secret-string-for-local-dev
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8090
