PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=lil-poker
COOKIE_SECRET=some-secret-string-for-local-dev
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8090
FRONTEND_PORT=8090
SMALL_BLIND=10
BIG_BLIND=20
TURN_TIMEOUT_SECS=20
GATEWAY_HOSTNAME=lil.poker.localhost